/* --------------------------------------------- 
# START CONFIGURATION
--------------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}
/*--------------------------------------------------------------*/
    /* Estilos base para o botão */
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
      }
  
      /* Estilos para a animação de notificação */
      .notification {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        animation: heartbeat 1.5s ease-in-out infinite both;
        transform-origin: center center;
      }
  
      /* Animação de heart-beat */
      @keyframes heartbeat {
        from {
          transform: scale(1);
          opacity: 1;
        }
  
        to {
          transform: scale(1.5);
          opacity: 0;
        }
      }
  
      /* Estilos responsivos */
      @media screen and (max-width: 600px) {
        .button {
          font-size: 12px;
        }
        .notification {
          font-size: 10px;
          width: 15px;
          height: 15px;
          line-height: 15px;
        }
      }


/* --------------------------------------------- 
# FOOTER
--------------------------------------------- */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
}

/* --------------------------------------------- 
# NAVBAR
--------------------------------------------- */
#btn-nav {
    width: 90px;
    float: right;
    margin-right: 25px;
}

/* --------------------------------------------- 
# LOGIN
--------------------------------------------- */
/*
# btn in frontend (typed efect)
*/
.block-position{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*
# btn in frontend btn job
*/
#btn-job{
    width: 300px;
    font-size: 24px;
    border-radius: 32px;
    margin-bottom: -50px;
}
