/* --------------------------------------------- 
# CONFIGURACAO INICIAL
--------------------------------------------- */
.card-container {
    display: flex;
    justify-content: space-between;
}


/* ==============================================================
            Index Card (Countdown
=============================================================*/
.w-size {
    width: 70%;
    }
  .f-size1 {
    font-size: 60px;
  }
  .f-size2 {
    font-size: 18px;
  }

  