/*=================================
Inicio
====================================*/
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    max-width: 100%;
    padding: 1px;
}
/*==============================================================
footer
========================================*/
.wrapper {
    height: 100%;
    margin-bottom: -100PX;
}
#footer,
.push {
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* footer width */
.w-footer {
    width: 70%;
}
/*send on footer*/
#email {
    border-radius: 4px 0px 0px 4px;
}

/*==============================================================
navbar
========================================*/
/*icon  left-side*/
#navbar {
    color: white;
    text-align: center;
    margin-left: 25px;
}
/*right-side button*/
#btn-nav {
    float: right;
    width: 50px;
    margin-right: 25px;
}

/*==============================================================
login
========================================*/
/*card width*/

#card-login {
    width: 450px;
}
.login-border {
    border-top: .4rem solid #198754;
    border-bottom: .4rem solid #198754;
    border-radius: 10px;
}
/*enter button*/
#btn-enter {
    border-radius: 15px;
    font-size: 16px;
    width: 90px;
}
.form-control {
    border-color: green;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*globe icon*/
.globe {
    color: #d3d3d3;
    font-size: 70px;
}

/*==============================================================
MIX
========================================*/
/* adiciona cursor pointer*/
.c-pointer {cursor: pointer;}

/*remove cursor pointer*/
.c-default {cursor: pointer ;}

/* ==============================================================
            Index Card (Countdown
=============================================================*/
.w-size {
  width: 70%;
  }
.f-size1 {
  font-size: 60px;
}
.f-size2 {
  font-size: 18px;
}


/* ----------------------------------- 
# CUSTOM SWEETALERT (Green theme)
----------------------------------- */
/* All texts centered */
.swal-text {
    text-align: center;
  }
  /* Icon settings */
  .swal-icon--success:before,
  .swal-icon--success:after,
  .swal-icon--success__hide-corners {
    background: none !important;
  }
  .swal-icon--success {
    /* Color of ring */
    border-color: #198754;
  }
  .swal-icon--success__line {
    /* Animation */
    background-color: #198754;
  }
  /* Button settings */
  .swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #111;
    font-size: 12px;
    border: 1px solid #111;
  }
  .swal-button:focus {
    /* Remove the silver border aroud the native button */
    box-shadow: none;
  }
  .swal-button:not([disabled]):hover {
    /* Hover effect */
    background: transparent;
    color: #111;
    border: 1px solid #111;
  }

  /*
# Background Music
*/
/*Boxicon (play - pause*/
.bx-play-circle, .bx-pause-circle {
  font-size: 100px;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-top: 40px;
}
/* border on circle play btn*/
.bx-play-circle {
  border: 2px solid greenyellow;
}
/*position*/
#play-center {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*--------------------------------------------------------------
music pulse
-----------------------------------------------------------------*/
.pulse {
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {box-shadow: 0 0 0 0 rgba(178, 222, 39, .7), 0 0 0 0 rgba(178, 222, 39, .7); }
  40% {box-shadow: 0 0 0 30px rgba(255, 109, 74, 0), 0 0 0 0 rgba(178, 222, 39, .7); }
  80%  {box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, .0); }
  100%  {box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, .0); }
}

