{% extends 'modals/forms/base.html' %}
<!--data-bs-toggle="modal" data-bs-target="#exampleModal"-->

<!--modal id-->
{% block modal-id %} id="CountModal{{ data.pk }}" {% endblock modal-id %}

<!--modal title-->
{% block modal-title %}<i class="fab fa-history"></i> &nbsp;&nbsp; CONTAGEM REGRESSIVA{% endblock modal-title %}

<!--form -->
{% block form %}
<style>
    input {
      cursor: pointer;
    }
    input::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }
    /*input focus*/
    .form-control:focus {
      border-color:#007bff;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  </style>
  <form method="POST" action="/editTime" autocomplete="off">
    {% csrf_token %}
    <div class="modal-body">
      <span class="card p-2 bg-primary text-center text-light txt-sm2">
        Controle de contagem
      </span>
      <!--ID hidden-->
      <input type="hidden" name="id" value="{{ data.id }}" readonly>
      <br>
      <!--input title-->
      <div class="input-group">
        <input type="datetime-local" name="timer" class="form-control text-center text-primary" value="{{ data.timer }}"> 
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" id="save-timer" class="btn btn-outline-primary btn-sm txt-sm">
        <i class="fas fa-hdd"></i>&nbsp; Salvar 
      </button>
    </div>
  </form>
{% endblock form %}

