{% extends 'modals/forms/base.html' %}
<!--modal id-->
{% block modal-id %} id="homeModal{{ data.pk }}" {% endblock modal-id %}
<!--modal-size-->
{% block modal-size %} modal-xl {% endblock modal-size %}

<!--modal title-->
{% block modal-title %}<i class="fa fa-globe"></i>&nbsp;&nbsp; Editar Homepage </span>{% endblock modal-title %}


<!--form -->
{% block form %}
<form method="POST" action="/editHome" class="was-validated">
    {% csrf_token %}
    <div class="modal-body">
        <!--ID hidden-->
        <input type="hidden" name="id" value="{{ data.id }}" readonly>
        <!--Inputs-->
        <button class="btn btn-dark btn-sm w-100 mb-3 txt-sm0">TITULO</button>
        <div class="row gx-1">
            <div class="col-4">
                <input name="home_title" value="{{ data.home_title }}" class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Coloque o titulo" required>
            </div>
            <div class="col-4">
                <input name="icon_title" value="{{ data.icon_title }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Coloque o icon do titulo" required>
            </div>
            <div class="col-4">
                <input name="horario" value="{{ data.horario }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Coloque a observação" required>
            </div>
        </div><!--//// card 01-->
        <hr>
        <button class="btn btn-secondary btn-sm w-100 mb-3 txt-sm0">CARD 01</button>
        <div class="row gx-1">
            <div class="col-4">
                <input name="card_title01" value="{{ data.card_title01 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Titulo do card 01" required>
            </div>
            <div class="col-4">
                <input name="card_color01" value="{{ data.card_color01 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cor do card 01" required>
            </div>
            <div class="col-4">
                <input name="card_icon01" value="{{ data.card_icon01 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Icon do card 01" required>
            </div>
        </div>
        <!--/// 2 group card 01-->
        <div class="row gx-1">
            <div class="col-4">
                <input name="txt_card_a1" value="{{ data.txt_card_a1 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Texto 01 (card 01)" required>
            </div>
            <div class="col-4">
                <input name="txt_card_b1" value="{{ data.txt_card_b1 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Texto 02 (card 02)" required>
            </div>
            <div class="col-4">
                <input name="txt_card_c1" value="{{ data.txt_card_c1 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Texto 03 (card 03)" required>
        </div>
        </div>
        <!--/// end card 01-->
        <hr>
        <!--card 02-->
        <button class="btn btn-secondary btn-sm w-100 mb-3 txt-sm0">CARD 02</button>
        <div class="row gx-1">
            <div class="col-4">
                <input name="card_title02" value="{{ data.card_title02 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Titulo do card 02" required>
            </div>
            <div class="col-4">
                <input name="card_color02" value="{{ data.card_color02 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cor do card 02" required>
            </div>
            <div class="col-4">
                <input name="card_icon02" value="{{ data.card_icon02 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Icon do card 02" required>
        </div>
        </div>
        <!--/// 2 group card 02-->
        <div class="row gx-1 mt-2">
            <div class="col-4">
                <input name="txt_card_a2" value="{{ data.txt_card_a2 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Texto 01 (card 02)" required>
            </div>
            <div class="col-4">
                <input name="txt_card_b2" value="{{ data.txt_card_b2 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Texto 02 (card 02)" required>
            </div>
            <div class="col-4">
                <input name="txt_card_c2" value="{{ data.txt_card_c2 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Texto 03 (card 02)" required>
        </div>
        </div>
        <!--end card 02-->
        <hr>
        <!--card 03 (INFO)-->
        <button class="btn btn-light border-dark btn-sm w-100 mb-3 txt-sm0">INFO</button>
        <div class="row gx-1">
            <div class="col-6">
                <input name="btn_color" value="{{ data.btn_color }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cor do botão INFO" required>
            </div>
            <div class="col-6">
                <input name="icon_type" value="{{ data.icon_type }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Icon do botão INFO " required>
            </div>    
        </div>
        <!--////end card 03 (INFO)-->
        <hr>
        <!--card 04 (Modal)-->
        <button class="btn btn-light border-dark btn-sm w-100 mb-3 txt-sm0">Modal</button>
        <div class="row gx-1">
            <div class="col-4">
                <input name="Modal_title" value="{{ data.Modal_title }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Titulo da modal" required>
            </div>
            <div class="col-4">
                <input name="Modal_card_title" value="{{ data.Modal_card_title }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Titulo do card " required>
            </div>
            <div class="col-4">
                <input name="modal_card_color" value="{{ data.modal_card_color }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cor do card 02" required>
        </div>
        </div>
        <!--/// 2 group card 04-->
        <div class="row gx-1 mt-2">
            <div class="col-4">
                <input name="modal_card_icon" value="{{ data.modal_card_icon }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Icon do card" required>
            </div>
            <div class="col-4">
                <input name="cargo01" value="{{ data.cargo01 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cargo 01 " required>
            </div>
            <div class="col-4">
                <input name="cargo02" value="{{ data.cargo02 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cargo 02" required>
        </div>
        </div>
        <!--///-->
        <div class="row gx-1 mt-2">
            <div class="col-4">
                <input name="cargo03" value="{{ data.cargo03 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cargo 03" required>
            </div>
            <div class="col-4">
                <input name="cargo04" value="{{ data.cargo04 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cargo 04 " required>
            </div>
            <div class="col-4">
                <input name="cargo05" value="{{ data.cargo05 }}"
                    class="form-control form-control-sm txt-sm0" 
                    type="text" placeholder="Cargo 05" required>
        </div>
        </div>

    </div><!--END// modal-body-->

    <!--footer-->
    <div class="modal-footer">
        <button type="submit" id="saved-home" class="btn btn-success w-btn txt-sm">
            <i class="fas fa-hdd"></i>&nbsp;&nbsp;Salvar
        </button>
    </div>
</form>
{% endblock form %}

