{% extends 'base.html' %}

<!-- Block title -->
{% block title %} Opportunity {% endblock %}
<!-- navbar title -->
{% block nav-content %}
<i class="fa-solid fas fa-poll"></i>&nbsp;&nbsp;Job Opportunities
{% endblock %}

<!-- navbar link (button go back to Frontend) -->
{% block link %}
<a href={% url 'frontend' %} style="margin-right: 25px; font-size: 25px;" title="Go back">
    <i class="fa fa-angle-double-left"></i>
</a>
{% endblock link %}

<!-- Page content -->
{% block content %}
<div class="container mt-4" style="width:80%;">
    <div class="justify-content-center align-items-center row">
        <h6 class="btn btn-warning"  style="width: 100%; cursor: default;"><strong>** AVAILABLE JOB OPPORTUNITIES **</strong></h6>
        <div class="shadow-lg card p-3 mt-3" style="background-color:rgba(0, 0, 0, 0.5);">
            <div class="row">
                