{% extends 'base.html' %}

<!--block title-->
<title>{% block title %}listagem{% endblock %}</title>

<!--background-image-->
{% block bg-img %}{% endblock bg-img %}

<!-- ==================================================
    navbar-content
==============================================================-->
{% block navbar-content %}
<i class="fas fa-earth-africa fa-spin text-light"></i>&nbsp;&nbsp; 
<span class="txt-sm2 text-light"> Bem Vindo:
    <span class="text-danger">{{ user.get_username }}</span>
</span>
{% endblock navbar-content %}

<!--logout-->
{% block btn-nav %}
<a id="btn-nav" class="btn btn-dark fa-shake" style="color: red" title="logout" data-bs-toggle="modal" data-bs-target="#logoutModal">
    <i class="fa fa-power-off" aria-hidden="true"></i>
</a>
{% endblock btn-nav %}

<!--================================================================
    block footer
=======================================================================-->
{% block footer %}
{% include 'modals/others/footer.html' %}
{% endblock footer %}


<!-- Block Content (ROOT) -->
{% block content %} 
<div class="container mt-xl-5 mt-sm-4 mt-4">
    <button class="btn btn-outline-dark mb-4 w-100 btn-lg txt-sm3" style="cursor: default">
        <i class="fas fa-cog fa-fade"></i>&nbsp;&nbsp; <strong class="fa-fade">Painel de Controle</strong>
    </button>
    <!--Cards-->
    <div class="row txt-sm">
        <!--Timer--> {% for data in timer %}
        <div class="col-xl-4 col-sm-4 col-6 mb-4 c-pointer" data-bs-toggle="modal" data-bs-target="#CountModal{{ data.pk }}">

            <div class="card p-xl-4 p-sm-2 p-0 bg-danger text-light">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <p><i  class="fas fa-history fa-4x fa-fade"></i></p>
                            <p class="mt-xl-5 mt-sm-5 mt-4 mb-0">CONTAGEM REGRESSIVA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modals/forms/countModal.html' %}
        {% endfor %}
         <!--Typed effect control-->
         {% for data in tiped %}
         <div class="col-xl-4 col-sm-4 col-6 mb-4 c-pointer" data-bs-toggle="modal" data-bs-target="#typedModal{{ data.pk }}">
            <div class="card p-xl-4 p-sm-2 p-0 bg-secondary text-light">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <p><i  class="fas fa-keyboard fa-4x"></i></p>
                            <p class="mt-xl-5 mt-sm-5 mt-4 mb-0">EFEITOS DE DIGITAÇÃO</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% include 'modals/forms/typedModal.html' %}
        {% endfor %}
        <!--Musica control-->
        {% for data in music %}
        <div class="col-xl-4 col-sm-4 col-6 mb-4 c-pointer" data-bs-toggle="modal" data-bs-target="#musicModal{{ data.pk }}">
            <div class="card p-xl-4 p-sm-2 p-0 bg-secondary text-light">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <p><i  class="fas fa-play fa-4x"></i></p>
                            <p class="mt-xl-5 mt-sm-5 mt-4 mb-0">MUSICAS DO FUNDO </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modals/forms/musicModal.html' %}
        {% endfor %}
        <!--IMAGEM control-->
        <div class="col-xl-4 col-sm-4 col-6 mb-4 c-pointer" >
            <div class="card p-xl-4 p-sm-2 p-0 bg-secondary text-light">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <p><i  class="fas fa-images fa-4x"></i></p>
                            <p class="mt-xl-5 mt-sm-5 mt-4 mb-0">SLIDE DE IMAGENS </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--HOMEPAGE control-->
        {% for data in home %}
        <div class="col-xl-4 col-sm-4 col-6 mb-4 c-pointer" data-bs-toggle="modal" data-bs-target="#homeModal{{ data.pk }}">
            <div class="card p-xl-4 p-sm-2 p-0 bg-secondary text-light">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <p><i  class="fas fa-earth-africa text-light fa-4x"></i></p>
                            <p class="mt-xl-5 mt-sm-5 mt-4 mb-0">HOMEPAGE </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modals/forms/homeModal.html' %}
        {% endfor %}
        <!--inscricoes control-->
        <div class="col-xl-4 col-sm-4 col-6 mb-4 c-pointer" data-bs-toggle="modal" data-bs-target="#RegistroModal">
            <div class="card p-xl-4 p-sm-2 p-0 bg-success text-light">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <p><i  class="fas fa-mail-bulk fa-4x"></i></p>
                            <p class="mt-xl-5 mt-sm-5 mt-4 mb-0">EMAILs RECEBIDOS </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!--END // row-->

</div><!--END // Container -->
{% endblock content %}