{% extends 'base.html' %}

<!-- Page content -->
{% block content %}
{% for data in tiped %}
<div class="container time_over mt-5 p-2 w-80">
    <div class="justify-content-center align-items-center row">
        <h1 class="btn text-light" id="f-typed" style="width: 100%; cursor: default; background-color:rgba(0, 0, 0, 0.5);"><strong>{{ data.fixo }} <span id="element" style="color: yellowgreen"></span></strong></h1>
        <div class="shadow-lg card p-3 mt-3" style="background-color:rgba(0, 0, 0, 0.5);">
            <div class="row mt-4 gx-2">
                 <!--first button-->
                 <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-secondary btn-lg jobs">
                            <span class="f-size1" id="d" style="color: white;"></span><br>
                            <span class="f-size2" style="color: white;">Dias</span>
                        </button>
                    </div>
                </div>
                <!--second button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-secondary btn-lg jobs">
                            <span class="f-size1" id="h" style="color: white;"></span><br>
                            <span class="f-size2" style="color: white;">Horas</span>
                        </button>
                    </div>
                </div>
                <!--third button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-secondary btn-lg jobs">
                            <span class="f-size1" id="m" style="color: white;"></span><br>
                            <span class="f-size2" style="color: white;">Minutos</span>
                        </button>
                    </div>
                </div>
                <!--fourth button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-secondary btn-lg jobs">
                            <span class="f-size1" id="s" style="color: red;"></span><br>
                            <span class="f-size2" style="color: white;">Segundos</span>
                        </button>
                    </div>
                </div><!--end-->

            </div>
        </div>
    </div>{% endfor %}

    
    <!--music control-->
    {% for data in music %}
        <div id="play-center" class="time_over">
        <i class="bx bx-play-circle pulse" id="btn-play"></i>
        <audio src="{{ data.music.url }}" id="music"></audio>
    </div>
    {% endfor %}
</div><!--end container-->


<!--HOMEPAGE quando o Countdown terminar-->
{% for data in home %}
<div id="homepage" class="container mt-4 card p-xl-6 p-sm-4 p-3 w-home" style="display: none;">
    <div class="text-center">
        <div class="t-home">
            <i class="fas {{ data.icon_title}}"></i>&nbsp;&nbsp; <span class="text-success">{{ data.home_title }}</span>
        </div>
        <hr>
        <h6 class="txt-sm">{{ data.horario }}</h6>
        <hr>
        <ul class="list-group mt-4">
            <li class="list-group-item {{ data.card_color01 }} text-light text-center txt-sm">
                <i class="fas {{ data.card_icon01}}"></i>&nbsp;&nbsp; {{ data.card_title01}}
            </li>
            <li class="list-group-item txt-sm ">
                {{data.txt_card_a1}}
            </li>
            <li class="list-group-item txt-sm ">
                {{data.txt_card_b1}}
            </li>
            <li class="list-group-item txt-sm ">
                {{data.txt_card_c1}}
            </li>
        </ul>
        <hr>
        <!--///-->
        <ul class="list-group mt-4">
            <li class="list-group-item {{ data.card_color02 }} text-light text-center txt-sm">
                <i class="fas {{ data.card_icon02}}"></i>&nbsp;&nbsp; {{ data.card_title02}}
            </li>
            <li class="list-group-item txt-sm ">
                {{data.txt_card_a2}}
            </li>
            <li class="list-group-item txt-sm ">
                {{data.txt_card_b2}}
            </li>
            <li class="list-group-item txt-sm ">
                {{data.txt_card_c2}}
            </li>
        </ul>
    </div>

    <div class="text-end">
        <button class="btn {{ data.btn_color}}" data-bs-toggle="modal" data-bs-target="#infoModal">
            <i class="fas {{ data.icon_type }}"></i>
        </button>
    </div>

</div><!--END//container-->
{% endfor %}




{% endblock content %}